#qrcode-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex:content;
    padding: 2rem;
}
.generator-container{
    flex-direction: inherit;
    text-align: left;
}
.reader-container{
    background-color: aquamarine;
}
.generated-code {
    display: flex;
    padding: 1rem;
    background-color: white;
    color: white;
}