* {
    margin: 0;
    padding: 0;
  }
  #blackJack {
    background: rgb(0, 78, 0);
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 0;
    font-family: "Lexend Exa", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .text,
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .playercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .handContainer {
    color: black;
    width: 75%;
    display: grid;
    align-items: center;
    margin: 0.5em;
    grid-template-rows: 2rem 7rem;
    gap: .5rem;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: .5rem;
  }
  .dealer{
    background-color: red;
  }
  .player{
    background-color: blue;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .title {
    text-align: center;
    color: white;
  }
  
  .card {
    background-color: whitesmoke;
    position: relative;
    height: 7rem;
    width: 4rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: .25rem
  }
  .card::after,
  .card::before {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
  }
  .card::before {
    top: 0.5rem;
    left: 0.5rem;
  }
  
  .card::after {
    bottom: 0.5rem;
    right: 0.5rem;
    transform: rotate(180deg);
  }
  
  .hiddenCard {
    position: relative;
    margin: .25rem;
    height: 7rem;
    width: 4rem;
    background-image: linear-gradient(
      176deg,
      #ffffff 8.33%,
      #ff0000 8.33%,
      #ff0000 50%,
      #ffffff 50%,
      #ffffff 58.33%,
      #ff0000 58.33%,
      #ff0000 100%
    );
    background-size: 60px 4.2px;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    cursor: default;
  }
  
  .btncontainer {
    display: flex;
    justify-content: center;
  }
  
  .playbtn {
    margin: 10px;
    border-radius: 50%;
    background-color: darkgreen;
    color: white;
    width: 7rem;
  }
  
  .playbtn:hover {
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    text-shadow: 0px 1px 10px rgb(0, 0, 0);
  }
  
  .playbtn:disabled {
    display: none;
  }
  
  .btn {
    margin: 2rem;
    justify-self: center;
    font-size: 2rem;
    padding: .5rem;
    border-radius: .5rem;
  }
  .btn:hover {
    color: white;
    border:1px solid white;
  }
  