.sidebar {
  position: fixed;
  height: 100vh;
  padding: 10px;
  background-color: var(--second-bg-color);
  transition: width 0.01s ease-in;
  user-select: none;
  border-right: 1px solid var(--third-bg-color);
}
.sidebar.opened {
  width: 15.625rem;
}
.sidebar.closed {
  width: 3.125rem;
  text-align: center;
}
.sidebar .top-section {
  position: relative;
  min-height: var(--nav-icon-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sidebar .top-section .page-title {
  color: var(--main-foreground-color);
  font-size: 1.45rem;
  font-weight: 500;
}
.sidebar .top-section .toggle-menu-btn {
  display: inline-block;
  position: absolute;
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
  top: 0;
  right: 0;
}
.sidebar .top-section .toggle-menu-btn .menu-toggle-icon {
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
}
.sidebar .menu-container {
  display: inline-block;
  position: absolute;
  padding: 10px 5px;
  top: 40;
  left: 0;
  width: 100%;
}
.sidebar .menu-container li {
  list-style: none;
}
.sidebar .menu-container .menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  margin: 3px 0;
  padding: 3px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 550;
  color: var(--main-foreground-color);
}
.sidebar .menu-container .menu-item:hover {
  background-color: var(--main-bg-color);
}
.sidebar .menu-container .menu-item.active {
  background-color: var(--third-bg-color);
}
.sidebar .menu-container .menu-item .menu-item-icon {
  display: inline-block;
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
}
.sidebar .menu-container .menu-item .menu-item-text {
  justify-content: center;
}
.sidebar .menu-container .menu-item .menu-item-dropdown {
  right: 0;
  margin-left: auto;
}
.submenu-container {
  display: contents;
  position: absolute;
  margin: 0 5px 0 5px;
  left: 0;
  background-color: var(--main-bg-color);
  width: calc(100% - 10px);
}
.submenu-container ul{
  border-width: 0 1px 1px;
  border-style: dotted;
  border-radius: 0 0 5px 5px;
  background-color: var(--third-bg-color);
  margin-top: -3px;
}
.submenu-container .submenu-item {
  color: var(--main-foreground-color);
  display: inline-block;
  width: 100%;
  padding: 3px 0 3px 5px;
  text-decoration: none;
}
.submenu-container .submenu-item .submenu-item-icon {
  display: inline-block;
  width: calc(var(--nav-icon-height) / 1.5);
  height: calc(var(--nav-icon-height) / 1.5);
  margin-right: 5px;
}
.submenu-container .submenu-item.active,
.submenu-container .submenu-item:focus {
  background-color: var(--third-bg-color);
  border-left: 3px solid aqua;
}
.submenu-container .submenu-item:hover {
  background-color: var(--main-foreground-color);
  color: var(--main-bg-color);
}
.tooltiptext {
  visibility: hidden;
  margin-left: 5px;
  width: 120px;
  background-color: var(--main-bg-color);
  color: var(--main-foreground-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  opacity: 0.9;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50px;
  margin-left: 50px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--main-bg-color) transparent transparent;
}
